<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Charaterizator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Charaterizator.Properties.Settings>
            <setting name="COMComutator" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="COMMensor" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="COMMultimetr" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="COMSensor" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>09/18/2019 17:23:00</value>
            </setting>
            <setting name="COMComutator_Speed" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="COMComutator_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMComutator_StopBits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="COMComutator_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COMMensor_Speed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="COMMensor_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMMensor_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COMMensor_DataBits" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="COMMultimetr_Speed" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="COMMultimetr_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMMultimetr_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COMMultimetr_DatabBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COMSensor_Speed" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="COMSensor_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMSensor_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COMSensor_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Параметр" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMColdCamera" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="COMColdCamera_Speed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="COMColdCamera_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMColdCamera_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COMColdCamera_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxChannalCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CommutatorSwitchDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FileNameDB" serializeAs="String">
                <value>D:\\WORK\\BBMW\\Repozitoriy\\Fail174\\Charakterizator\\Charaterizator\\SensorsDB\\Sensors.mdb</value>
            </setting>
            <setting name="set_HoldTimeTemp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_HoldTimePress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_HoldTimeAfReset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_DeltaTemp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_DeltaPress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_HandleContrPress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_HandleContrMultimetr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_MultimReadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_MultimReadPeriod" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="set_MensorSetZero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_SensReadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_SensReadPause" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="set_TCameraReadPeriod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_SensWaitTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="set_MultimReadTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="set_MultimDataReady" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="set_MainTimer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="set_CommReadCH" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="set_CommMaxSetCH" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="set_CommReadPeriod" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="set_CommReadPause" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="set_MensorReadPeriod" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="set_MensorReadPause" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="set_SensSKOCalibrCurrent" serializeAs="String">
                <value>0.003</value>
            </setting>
        </Charaterizator.Properties.Settings>
    </userSettings>
</configuration>