<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Charaterizator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Charaterizator.Properties.Settings>
            <setting name="COMPortComutator" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COMPortMensor" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="COMPortMultimetr" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="COMPortSensor" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>09/18/2019 17:23:00</value>
            </setting>
        </Charaterizator.Properties.Settings>
    </userSettings>
</configuration>